DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
SECRET_KEY=django-insecure-change-me
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:43127,http://localhost:43127

DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=suculentas
POSTGRES_USER=suculentas_user
POSTGRES_PASSWORD=Suculentas1234
POSTGRES_HOST=suculentas_psql
POSTGRES_PORT=5432

STORE_NAME=Cantinho das Suculentas
WHATSAPP_NUMBER=5511999999999
WHATSAPP_LABEL=(11) 99999-9999
